@font-face {
  font-family: "Akzidenz";
  src: url('../fonts/akzidenzgrotesk-light-webfont.eot');
  src: url('../fonts/akzidenzgrotesk-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/akzidenzgrotesk-light-webfont.woff2') format('woff2'),
       url('../fonts/akzidenzgrotesk-light-webfont.woff') format('woff'),
       url('../fonts/akzidenzgrotesk-light-webfont.ttf') format('truetype'),
       url('../fonts/akzidenzgrotesk-light-webfont.svg#Akzidenz') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz";
  src: url('../fonts/akzidenzgrotesk-medium-webfont.eot');
  src: url('../fonts/akzidenzgrotesk-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/akzidenzgrotesk-medium-webfont.woff2') format('woff2'),
       url('../fonts/akzidenzgrotesk-medium-webfont.woff') format('woff'),
       url('../fonts/akzidenzgrotesk-medium-webfont.ttf') format('truetype'),
       url('../fonts/akzidenzgrotesk-medium-webfont.svg#Akzidenz') format('svg');
  font-weight: 500;
  font-style: normal;
}

body {
	background: white;
	color: black;
}

* {
  box-sizing: border-box;
  font-family: "Akzidenz", Helvetica, sans-serif;
  font-weight: 300;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

path {
  display: none;
}

.timeline {
  width: 100%;
  height: 300px;

  position: absolute;
  bottom: 0;
  left: 0;

  background: rgba(0,0,0, 0.4);
  color: white;
}

.timeline h1 {
  font-size: 44px;
  font-weight: 500;
  color: #64D1B8;
  line-height: 52px;
  text-shadow: 0px -1px 6px rgba(0,0,0,0.35);

  margin: 0;
  position: relative;
  top: -30px;
  left: 20px;
  display: inline-block;
}

.timeline ul {
  position: absolute;
  list-style-type: none;
  overflow: hidden;
  height: 20px;
  white-space: nowrap;
}


.timeline li {
  display: inline-block;
  margin-right: 10px;
}

.axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  cursor: crosshair;
}

.line {
  display: block;
  fill: none;
  stroke: url(#line-gradient);
  stroke-width: 2px;
}

.timeline--chart-container,
.timeline--chart,
.timeline--date {
  display: inline-block;
}

.timeline--date span {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}

.timeline--date-month {
  text-align: right;
  margin-right: 5px;
}

.timeline--date-day {
  margin-right: 5px;
  width: 20px;
  text-align: left;
}

.timeline--date-time {
  width: 50px;
  text-align: left;
}

.timeline--chart-container,
.timeline--chart {
  position: absolute;
  left: 150px;
  right: 0;
}

.timeline--chart svg {
  position: absolute;
}

.timeline--toggle {
  position: absolute;
  left: 120px;
  top: 18px;
}

.timeline--toggle img {
  width: 26px;
  height: 26px;
}

.time-slider {
  z-index: 2;
}

.tweet-chart {
  z-index: 1;
  pointer-events: none;
}

.timeline--top-container {
  height: 75px;
  position: relative;
  top: -30px;
  padding: 0 20px 10px 20px;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.timeline--date {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  height: 100%;
}

.tweets {
  position: absolute;
  height: 150px;
  bottom: 37px;
  left: 0;
  right: 0;
  background: rgba(white, 0);
  white-space: nowrap;
  overflow-x: hidden;
  color: white;
  padding-left: 20px;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.tweets li {
  display: inline-block;
  margin-right: 20px;
  font-size: 15px;
  overflow: hidden;
}

.tweet--content {
  width: 100%;
  height: 85px;
  white-space: normal;
}

.tweet--metadata,
.tweet--metadata a {
  text-decoration: none;
  font-size: 13px;
  color: #A6A6A6;
}

.tweet--metadata a:hover {
  text-decoration: underline;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 53px;
  padding: 0 20px;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.info--left a {
  color: #64D1B8;
  text-decoration: none;
  font-size: 15px;
}

.info--right {
  color: #A6A6A6;
  font-size: 13px;
}

.info--right img {
  margin-left: 10px;
}

.info--vizzuality-logo {
  width: 90px;
  height: 22px;
  top: 5px;
  position: relative;
}

.info--cartodb-logo {
  width: 90px;
  height: 16px;
}
